div.posts
    ul
        li(ng-repeat="post in dposts")
            span.post
                span.post-head
                    label heading:
                        p{{post.title}}
                span.post-body
                    label content:
                        p{{post.body}}